{
  "installed": {
    "client_id": "see concole.developers.google.com",
    "client_secret": "see concole.developers.google.com",
    "redirect_uris": ["urn:ietf:wg:oauth:2.0:oob", "http://localhost"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}
